<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimpleBinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <SimpleBinder.Properties.Settings>
            <setting name="CurrentLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="CurrentKeyName" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="CurrentKeyValue" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="CurrentHotkeyState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentIsMinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleBinder.Properties.Settings>
    </userSettings>
</configuration>